<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Title -->
  <title>
    {{- if not .IsHome }}
    {{- if eq .Kind "page" }}{{ .Title }}
    {{- else if eq .Data.Singular "tag" }}{{ .Data.Term }}
    {{- else }}Posts
    {{- end }} - {{ end }}
    {{- .Site.Title -}}
  </title>
  <!-- Meta -->
  {{- if eq .Kind "page" }}
  <meta name="description" content="{{ .Summary }}">
  <meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
  {{ else }}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  {{ end -}}
  <!-- Styles -->
  <link href="{{.Site.BaseURL}}css/atom-one-dark.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat" rel="stylesheet">
  <link href="{{.Site.BaseURL}}css/font.css" rel="stylesheet">
  <link href="{{.Site.BaseURL}}css/style.css" rel="stylesheet">
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{{.Site.BaseURL}}img/apple-icon.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{.Site.BaseURL}}img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{.Site.BaseURL}}img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{.Site.BaseURL}}img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{.Site.BaseURL}}img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}img/favicon-16x16.png">
  <link rel="icon" href="{{.Site.BaseURL}}img/favicon.ico">
  <!-- Generator -->
  {{ .Hugo.Generator }}
  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" href="{{.Site.BaseURL}}index.xml" title="{{ .Site.Title }}">
  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  <!-- For Mobile Safari turn off address bar if page was saved to Homescreen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="chren.co">
  <!-- Safari images reloader -->
  <script>
    function safariReloader(image) {
      // hack that refreshes image on page after they have been loaded
      // bcs Safari on iOS is new IE :)
      const parent = image.parentElement;
      if (!parent) {
        return;
      }
      if (parent.dataset.safariReloaded === undefined || parent.dataset.safariReloaded === null) {
        image.outerHTML = image.outerHTML;
        parent.dataset.safariReloaded = true;
      }
    }
  </script>
  <!-- Facebook metadata -->
  {{ if isset .Params "heroImage" }}
  {{ $heroImage := (.Page.Resources.GetMatch  .Params.heroImage) }}
  <meta property="og:image" content="{{ $heroImage.Permalink }}" />
  {{ end }}
</head>
<body class="{{if eq .Kind `page` }}single{{else}}list{{ if .IsHome }} home{{ end }}{{end}}">
  <header class="header">
    <span class="title"><a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></span>

    <button class="menu-toggle" type="button"></button>
    <nav class="menu">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="{{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <main class="main">
