<script>
    function copyLink() {
        const e = document.createElement('textarea');
        e.setAttribute('readonly', '');
        e.value = "{{ .Page.Permalink }}";
        e.style = {position: 'absolute', left: '-9999px'};
        document.body.appendChild(e);
        e.select();
        document.execCommand('copy');
        document.body.removeChild(e);

        const shareElement = document.getElementById("shareLink");
        shareElement.innerText = "Link skopírovaný";
        setTimeout(function () {
            shareElement.innerText = "Skopírovať link";
        }, 10000)
    }
</script>

<div class="share-view">
    <div class="share-container">
        <p>Pozdieľame?</p>

        {{ $safeLink := .Page.Permalink | safeURL }}
        {{ $fbShareLink := print "https://www.facebook.com/sharer/sharer.php?u="  $safeLink }}
        {{ $twShareLink := print "https://twitter.com/intent/tweet?text=" .Page.Title " - " "&url=" .Page.Permalink }}

        <p><a style="text-decoration: underline" href="{{ $fbShareLink }}" target="_blank">Facebook</a></p>
        <p><a style="text-decoration: underline" href="{{ $twShareLink }}" target="_blank">Twitter</a></p>
        <p><a style="text-decoration: underline" id="shareLink" href="javascript:;" onclick="copyLink()">Skopírovať link</a></p>


        <div style="margin-top: 3em">
            <p>
                Stránka bola ušitá na mieru za pár dní, takže nemusí fungovať skvelo na všetkých prehliadačoch a zariadeniach.
                Ak sa tak deje, stačí mi <a href="mailto:chrenko.marek@gmail.com" style="text-decoration: underline">dať vedieť</a>. Ďakujem.
            </p>
        </div>
    </div>

</div>